<web-app>

    <listener>
        <listener-class>akka.servlet.Initializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>AkkaServlet</servlet-name>
        <servlet-class>akka.http.AkkaMistServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AkkaServlet</servlet-name>
        <url-pattern>/akkaoogle/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>